{% extends "base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}


<main>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">{{category.name|title}}</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for song in songs %}

        <div class="col">
          <div class="card shadow-sm">

            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ song.get_absolute_url }}">{{ song.title }}</a>
              </p>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}