{% extends "base.html" %}
{% block content %}
{% for song in songs %}
<div class="col">
  <div class="card shadow-sm">
    <div class="card-body">
      <p class="card-text">
        <a class="text-dark text-decoration-none" href="{{ song.get_absolute_url }}">{{ song.title }}</a>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">{{ song.category }}</small>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">{{ song.author }}</small>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}